{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1>Polls</h1>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.text }}</a></li>
    {% endfor %}
    </ul>
    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.number > 1 %}
            <a href="{% url 'polls:list' %}?{{ page_kwarg }}={{ page_obj.number|add:-1 }}">Previous</a>
            |
        {% endif %}
        page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        {% if page_obj.number < page_obj.paginator.num_pages %}
            |
            <a href="{% url 'polls:list' %}?{{ page_kwarg }}={{ page_obj.number|add:1 }}">Next</a>
        {% endif %}
    {% endif %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
